.app{
  border: solid black;
  height: auto;
  text-align: center;
  padding: 1em;
  margin: 1em;
}

.nav{
  border: solid red;
  text-align: center;
  padding: 1em;
  margin: 1em;
}

/* ///////////////////////////////////////////// */


.homePage{
  border: solid dodgerblue;
  padding: 1em;
  margin: 1em;
}

.secondNav{
  border: solid gray;
  padding: 1em;
  margin: 1em;
}

.aboutPortCont{
  border: solid green;
  padding: 1em;
  margin: 1em;
  display: flex;
  justify-content: space-between;
}

.myName{
  border: solid black;
  padding: 1em;
  margin: 1em;
}

.myImage{
  border: solid dodgerblue;
  padding: 1em;
  margin: 1em;
}

.imageOne{
  height: 100vh;
  border-radius: 15px;
}

/* /////////////// Resume ///////////////////// */

.resumePageContainer{
  border: solid dodgerblue;
  padding: 1em;
  margin: 1em;
}

.resmueContainer{
  border: solid crimson;
  padding: 1em;
  margin: 1em;
}

.resumeContactInfo{
  border: solid green;
  padding: 1em;
  margin: 1em;
}

.contactLi{
  border: solid crimson;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 1em;
}

.profSum{
  border: solid green;
  padding: 1em;
  margin: 1em;
}

.resumeTechSkills{
  border: solid dodgerblue;
  padding: 1em;
  margin: 1em;
}

.resumeEducation{
  border: solid crimson;
  padding: 1em;
  margin: 1em;
}

.resumeWorkExp{
  border: solid dodgerblue;
  padding: 1em;
  margin: 1em;
}

.additionalExp{
  border: solid crimson;
  padding: 1em;
  margin: 1em;
}

.mountSinai{
  border: solid gray;
  padding: 1em;
  margin: 1em;
}

.reliance{
  border: solid gray;
  padding: 1em;
  margin: 1em;
}

.rheumatoidRes{
  border: solid gray;
  padding: 1em;
  margin: 1em;
}

.osteoarthritisRes{
  border: solid gray;
  padding: 1em;
  margin: 1em;
}

.return{
  border: solid green;
  padding: 1em;
  margin: 1em;
}